@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7f8;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #24547a;
  font-weight: 600;
  padding: 20px 0;
  border: 2px solid #24547a;
  background-color: rgb(36, 84, 122);
  color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

p {
  max-width: 600px;
  margin: 0 auto 30px auto;
  padding: 10px;
  font-size: 1rem;
  color: #555;
  border: 2px solid #7cb1ff;
  background-color: #dbe9ff;
  text-align: center;
  border-radius: 10px;
}


a {
  display: block;
  text-align: center;
  color: #24547a;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

a:hover {
  color: #82c0f6;
}


img {
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  max-width: 200px;
  height: auto;
  box-shadow: 0 2px 5px rgb(36 84 122 / 0.3);
}


footer {
  margin-top: 40px;
}

footer marquee {
  display: block;
  background-color: #24547a;
  color: white;
  padding: 8px 0;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 0 0 10px 10px;
}


@media (max-width: 600px) {
  p {
    width: 90%;
  }

  img {
    max-width: 150px;
  }
}
